* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* --------------Common styles----------------- */
.primary_title {
    font-weight: 600;
    font-size: 20px;
}

.large_font {
    font-weight: 700;
    font-size: 64px;
}

.primary_desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.primary_button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;

    /* font styles */
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.vcenter {
    margin: 0px auto;
}

/* -------------------------------------------- */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    height: 20vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>.primary_desc {
    display: flex;
    gap: 20px;
}

/* banner styles */
.banner {
    text-align: center;
}

h2 {
    color: #131313;
}

.banner_desc {
    display: block;
    margin: 30px;
}

.banner_img {
    width: 80%;
    margin: 80px auto;
}

.banner_img>img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 40px;
}

/* ----------feature_container section------------- */
main {
    max-width: 80%;
}
.feature_container{
    margin: 30px 0;
    width: 100%;
}
/* -------------feature part 1---------------- */
.features-1 {
    display: flex;
    gap: 4rem;
}
.image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature_img>img{
    width: 100%;
    height: 100%;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* -------------feature part 2---------------- */
.features-2{
    display: flex;
    justify-content:space-between;
    margin: 60px 0;
}
.feature_title{
    font-weight: 600;
font-size: 20px;
color: #131313;
}
.feature_desc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.f2__text{
    width: 50%;
    margin-right: 60px;
}
.f2__text>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.f2__text>ul>li{
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 20px;
}
.image_f2{
    /* background-color: #727272; */
    width:50%;
    height: 100%;
}
.image_f2>img{
    width: 100%;
    height: 100%;
}
.up{
    position: relative;
    bottom: 150px;
    left: 580px;
    border-radius: 10px;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px 400px;
    gap: 40px;
    margin: 5rem auto;

}
.project_images>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.project_code{
    text-align: center;
    font-weight: 500;
    font-size: 20px; 
    color:#727272
}