* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* --------------Common styles----------------- */
.primary_title {
    font-weight: 600;
    font-size: 20px;
}

.secondary_title {
    font-weight: 700;
    font-size: 45px;
}

.large_font {
    font-weight: 700;
    font-size: 64px;
}

.primary_desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 20px 0;
}

.primary_button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;

    /* font styles */
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.vcenter {
    margin: 0px auto;
}


/* -----------------banner------------------ */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
    height: calc(100vh*.2);
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>.primary_desc {
    display: flex;
    gap: 20px;
}

/* banner styles */
.banner {
    text-align: center;
}

h2 {
    color: #131313;
}

.banner_desc {
    display: block;
    margin: 30px;
}

.banner_img {
    width: 80%;
    margin: 80px auto;
}

.banner_img>img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 40px;
}

/* ----------feature_container section------------- */
main {
    max-width: 80%;
}

.feature_container {
    margin: 30px 0;
    width: 100%;
}

/* -------------feature part 1---------------- */
.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.features-1 {
    display: flex;
    gap: 4rem;
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature_img>img {
    width: 100%;
    height: 100%;
}

/* -------------feature part 2---------------- */
.features-2 {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.feature_title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature_desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.f2__text {
    width: 50%;
    margin-right: 60px;
}

.f2__text>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.f2__text>ul>li {
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 20px;
}

.image_f2 {
    /* background-color: #727272; */
    width: 50%;
    height: 100%;
}

.image_f2>img {
    width: 100%;
    height: 100%;
}

.ten {
    font-weight: 600;
    font-size: 30px;
}

.up {
    margin: 20px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

/* ---------------------Projects------------------*/
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 400px;
    gap: 40px;
    margin: 5rem auto;

}

.project_images>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    transition: transform 1s;
}

/* special effect */
.project_images>img:hover {
    transform: scale(.75);
}

.project_code {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #727272
}

.visit_button {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

/* ---------------------Facts------------------*/
.facts {
    margin: 50px auto;

}

.facts>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    list-style: none;
}

.facts>ul>li:hover {
    height: 15rem;
    width: 15rem;
    transform: rotate(360deg);
}

.facts>ul>li {
    text-align: center;
    border: 1px solid #FF900E;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    padding: 20px;
    transition: height 1s, width 1s, transform 3s;
}

/* ---------------------sponsors------------------*/
.sponsors_container {
    margin: 60px auto;
    text-align: center;
}

.sponsors {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 10px;
}

.sponsors>img {
    filter: grayscale(100%);
}

/* --------------------foooter------------------*/
footer {
    width: 100%;
    margin: 150px 0;
}

.foot {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 15px;
    background-color: #FFF4E7;
    flex-wrap: wrap;
}

/* --------------------media_query------------------*/

@media screen and (max-width:576px) {

    .navbar,
    .navbar>.primary_desc,
    .features-1,
    .features-2,
    .facts>ul,
    .image,
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        height: fit-content;
    }

    .image_f2,
    .text,
    img {
        width: 90%;
    }

    .large_font {
        margin-top: 50px;
        font-size: 54px;
    }

    .sponsors>img {
        height: 50%;
        width: 50%;
    }

    .facts>ul>li {
        height: max-content;
        width: max-content;
    }
}

@media screen and (min-width:577px) and (max-width:1249px) {

    .facts>ul,
    text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .features-1 {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width:900px) {
    .ten {
        font-weight: 700;
        font-size: 60px;
    }

    .up {
        height: 150px;
        width: 300px;
        position: relative;
        bottom: 9rem;
        left: 36rem;
    }
}